body {
h1{border-color: #000; border-width: 1px;}
h1{border-style: solid 1px;}
h1{border-color: #000; border-width: 1px;}
#story{border-color: #000; border-width: 1px;}
.image{border-color: #000; border-width: 1px;}
.hoge{color: #0000ff;}

}
